<?xml version='1.0' encoding='UTF-8' ?>
<openerp>
    <data>
        <record model="ir.actions.act_window" id="remessa_bancaria_list_action">
            <field name="name">Remessa Bancaria</field>
            <field name="res_model">remessa_bancaria</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
            <field name="help" type="html">
                <p class="oe_view_nocontent_create">
                	Lista de remessas bancarias.
                </p>
            </field>
        </record>

        <!-- the following menuitem should appear *after*
             its parent openacademy_menu and *after* its
             action course_list_action -->
        <menuitem id="remessa_bancaria_menu" name="Remessa Bancaria" parent="account.menu_finance_bank_and_cash"
                  action="remessa_bancaria_list_action"/>   
    </data>
</openerp>