<?xml version='1.0' encoding='UTF-8' ?>
<openerp>
    <data>
        <!-- window action -->
        <!--
            The following tag is an action definition for a "window action",
            that is an action opening a view or a set of views
        -->
        <record model="ir.actions.act_window" id="asterix_list_action">
            <field name="name">Asterix</field>
            <field name="res_model">asterix</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
            <field name="help" type="html">
                <p class="oe_view_nocontent_create">
                	Gerenciamento de ligações do Asterix.
                </p>
            </field>
        </record>

        <!-- the following menuitem should appear *after*
             its parent openacademy_menu and *after* its
             action course_list_action -->
        <menuitem id="asterix_menu" name="Asterix" parent="mail.mail_my_stuff"
                  action="asterix_list_action"/>
        <!-- Full id location:
             action="openacademy.course_list_action"
             It is not required when it is the same module -->
    </data>
</openerp>