<?xml version='1.0' encoding='UTF-8' ?>
<openerp>
	<data>
		<!-- window action -->
		<!-- The following tag is an action definition for a "window action", that 
			is an action opening a view or a set of views -->
		<record model="ir.actions.act_window" id="trabalhe_conosco_list_action">
			<field name="name">Trabalhe Conosco</field>
			<field name="res_model">trabalhe_conosco</field>
			<field name="view_type">form</field>
			<field name="view_mode">tree,form</field>
			<field name="help" type="html">
				<p class="oe_view_nocontent_create">
					Lista de contatos do site.
				</p>
			</field>
		</record>


		<menuitem id="trabalhe_conosco_menu" name="Trabalhe Conosco" 
			parent="hr.menu_hr_main" action="trabalhe_conosco_list_action" />

	</data>
</openerp>