<?xml version='1.0' encoding='UTF-8' ?>
<openerp>
    <data>

        <menuitem id="planejamento_parent_menu" name="Planejamento" />

        <menuitem id="centro_custo_planejamento_menu" name="Centro de Custo" parent="planejamento_parent_menu"
                  action="financeiro_contrax.centro_custo_list_action"/>

        <menuitem id="natureza_financeira_planejamento_menu" name="Natureza Financeira" parent="planejamento_parent"
                  action="financeiro_contrax.natureza_financeira_list_action"/>
    </data>
</openerp>