<?xml version='1.0' encoding='UTF-8' ?>
<openerp>
	<data>
		<!-- window action -->
		<!-- The following tag is an action definition for a "window action", that 
			is an action opening a view or a set of views -->
		<record model="ir.actions.act_window" id="checkagem_acesso_list_action">
			<field name="name">Checkagem de Acesso</field>
			<field name="res_model">checkagem_acesso</field>
			<field name="view_type">form</field>
			<field name="view_mode">tree,form</field>
			<field name="help" type="html">
				<p class="oe_view_nocontent_create">
					Histórico de checkagem de acesso.
				</p>
			</field>
		</record>
                
                <record model="ir.actions.act_window" id="conexoes_ativas_list_action">
			<field name="name">Conexões Ativas</field>
			<field name="res_model">conexoes_ativas</field>
			<field name="view_type">form</field>
			<field name="view_mode">tree,form</field>
			<field name="help" type="html">
				<p class="oe_view_nocontent_create">
					Histórico de relatório de conexões ativas.
				</p>
			</field>
		</record>
		
		<record model="ir.actions.act_window" id="torre_list_action">
			<field name="name">Torre</field>
			<field name="res_model">torre</field>
			<field name="view_type">form</field>
			<field name="view_mode">tree,form</field>
			<field name="help" type="html">
				<p class="oe_view_nocontent_create">
					Lista de torres.
				</p>
			</field>
		</record>
		
		<record model="ir.actions.act_window" id="pop_list_action">
			<field name="name">Pop</field>
			<field name="res_model">pop</field>
			<field name="view_type">form</field>
			<field name="view_mode">tree,form</field>
			<field name="help" type="html">
				<p class="oe_view_nocontent_create">
					Lista de pops.
				</p>
			</field>
		</record>
		
		<record model="ir.actions.act_window" id="router_list_action">
			<field name="name">Router</field>
			<field name="res_model">router</field>
			<field name="view_type">form</field>
			<field name="view_mode">tree,form</field>
			<field name="help" type="html">
				<p class="oe_view_nocontent_create">
					Lista de routers.
				</p>
			</field>
		</record>
		
		<record model="ir.actions.act_window" id="host_list_action">
			<field name="name">Host</field>
			<field name="res_model">host</field>
			<field name="view_type">form</field>
			<field name="view_mode">tree,form</field>
			<field name="help" type="html">
				<p class="oe_view_nocontent_create">
					Lista de hosts.
				</p>
			</field>
		</record>



		<!-- the following menuitem should appear *after* its parent openacademy_menu 
			and *after* its action course_list_action -->
		<menuitem id="redes_parent_menu" name="Redes" />

		<menuitem id="redes_relatorios_menu" name="Relatórios"
			sequence="10" parent="redes_parent_menu" />
			
		<menuitem id="redes_configuracao_menu" name="Configuração"
			sequence="20" parent="redes_parent_menu" />
			
		<menuitem id="checkagem_acesso_menu" name="Checkagem de Acesso" parent="redes_relatorios_menu"
			action="checkagem_acesso_list_action" />
                
                <menuitem id="conexoes_ativas_menu" name="Conexões Ativas" parent="redes_relatorios_menu"
			action="conexoes_ativas_list_action" />

		<menuitem id="router_menu" name="Router" parent="redes_configuracao_menu"
			action="router_list_action" />

		<menuitem id="torre_menu" name="Torre" parent="redes_configuracao_menu"
			action="torre_list_action" />

		<menuitem id="pop_menu" name="Pop" parent="redes_configuracao_menu"
			action="pop_list_action" />
			
		<menuitem id="host_menu" name="Host" parent="redes_configuracao_menu"
			action="host_list_action" />
			
			


	</data>
</openerp>